doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Document
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css')
		link(rel='stylesheet', href='stylesheets/styles.css')
	body
		header
			ul
				li
					h2 Proizvodi
				li
					a#index(href='/unos') Unos
		section
			.form-style-8
				h2 Unos proizvoda
				form
					input.form-control(type='text', name='id_naziv', placeholder='Naziv')
					input.form-control(type='text', name='id_vrsta', placeholder='Vrsta')
					select.form-control.selectpicker.my-select(name='id_boja', data-header="Izaberite boju vina")
						// optgroup(label='This is a group')
						each data in db_data
							option(value=data.id) #{data.naziv}
					button.btn.btn-success.no-radius(type='submit') Unos
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js')
