extends layout

block content
	.container
		.form-style-8.mt-5
			div
				h2 Unos proizvoda
			form
				input.form-control(type='text', name='id_naziv', placeholder='Naziv')
				input.form-control(type='text', name='id_vrsta', placeholder='Vrsta')
				select.form-control.selectpicker.my-select(name='id_boja', data-header="Izaberite boju vina")
					//optgroup(label='This is a group')
					each data in db_data
						option(value=data.id) #{data.naziv}
				div
					button.btn.btn-success.no-radius(type='submit') UNOS
				