extends layout

block content
  .container
    form(action="/sql", method="post")
      table
        tbody
          if db_data
            each data in db_data
              tr
                each item in data
                  td #{item}
          else
            td empty
      div
        input(type="text", name="commandSql")
        input(type='submit' value="Send")