/***** Global *****/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande",
    sans-serif;
  font-weight: 400;
  /* 300,400,700,900 */
}

/***** Top menu *****/

nav .nav-bar,
nav a {
  text-transform: uppercase;
  color: aqua;
  font-size: 18px;
}
.navbar-brand,
nav a:hover,
nav .active > a {
  color: aqua !important;
}

/***** Spacer 1 *****/
.spacer {
  height: 100px;
}
/***** Input form *****/

.unos-form-wraper {
  background: #f5f5f5;
}
.unos-form-wraper h2 {
  background: #343a40;
  text-transform: uppercase;
  color: aqua;
  font-size: 18px !important;
  font-weight: 300 !important;
  padding: 20px !important;
  /* margin: -30px -30px 30px -30px; */
  margin: 0;
}
.unos-form-wraper form {
  padding: 30px;
}
.unos-form-wraper input[type="text"],
.unos-form-wraper input[type="date"],
.unos-form-wraper input[type="datetime"],
.unos-form-wraper input[type="email"],
.unos-form-wraper input[type="number"],
.unos-form-wraper input[type="search"],
.unos-form-wraper input[type="time"],
.unos-form-wraper input[type="url"],
.unos-form-wraper input[type="password"],
.unos-form-wraper textarea,
.unos-form-wraper select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 0px !important;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  /* font: 16px Arial, Helvetica, sans-serif; */
  height: 45px;
}
.unos-form-wraper textarea {
  resize: none;
  overflow: hidden;
}
.unos-form-wraper input[type="button"],
.unos-form-wraper input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45d6d6;
  box-shadow: inset 0px 1px 0px 0px #45d6d6;
  background-color: #2cbbbb;
  border: 1px solid #27a0a0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.unos-form-wraper input[type="button"]:hover,
.unos-form-wraper input[type="submit"]:hover {
  background: linear-gradient(to bottom, #34caca 5%, #30c9c9 100%);
  /* background-color: #34caca; */
}

.form-control,
.btn-light {
  color: #212529;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  border-radius: 0px !important;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
  font-weight: 400 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  /* color: #fff;
  background-color: #007bff; */
  color: #343a40 !important;
  background-color: aqua;
}
.bootstrap-select .dropdown-toggle .filter-option {
  padding: 7px;
}
.dropdown-menu {
  border-radius: 0px !important;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
}
::placeholder {
  color: rgb(150, 150, 150) !important;
  /* font-weight: 100; */
}

/***** Tables *****/

/* table {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
} */

th {
  padding: 18px !important;
  background: #343a40;
  text-transform: uppercase;
  color: aqua;
  font-size: 16px;
  font-weight: 300;
}
tbody {
  font-weight: 400 !important;
}
.prikaz td {
  /* border: none !important; */
  margin: 0px;
  padding: 10px 20px;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background: #f7f7f7;
}

.tableContainer th {
  padding: 0px 10px !important;
}
.tableContainer td {
  margin: 0px;
  padding: 0px 10px;
}
