.tableContainer {
  min-height: 200px;
  border: 1px solid #ddd;
}

#inputSql {
  height: 45px;
  width: 80%;
  padding: 7px;
  margin-right: 20px;
  display: inline-block;

  /* box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 0px !important;
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
  outline: none;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent; */
}

/* .modal-body button {
  float: right;
} */
